In [11]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import preprocessing
from sklearn.impute import SimpleImputer as Imputer
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error, accuracy_score
from sklearn.linear_model import SGDClassifier, LogisticRegression
from sklearn.svm import SVC
from warnings import filterwarnings
filterwarnings("ignore")

In [14]:
df = pd.read_csv("credit_train.csv")
len(df)

94796

In [18]:
df = df[:10000]
df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0

In [19]:
df.info

<bound method DataFrame.info of                                    Loan ID  \
0     14dd8831-6af5-400b-83ec-68e61888a048
1     4771cc26-131a-45db-b5aa-537ea4ba5342
2     4eed4e6a-aa2f-4c91-8651-ce984ee8fb26
3     77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a
4     d4062e70-befa-4995-8643-a0de73938182
...                                    ...
9995  084f0ba2-204c-4b43-a131-5a72142e513c
9996  86c20a91-92d1-4dcd-bf73-9f1392b77519
9997  c062a82a-cf71-425b-a152-f38bdaccc408
9998  7a36b0f6-1c19-4984-87d7-d4db3e6ea260
9999  75474c44-14f5-443d-89cf-859ff4cee994

                               Customer ID  Loan Status  Current Loan Amount  \
0     981165ec-3274-42f5-a3b4-d104041a9ca9   Fully Paid             445412.0
1     2de017a3-2e01-49cb-a581-08169e83be29   Fully Paid             262328.0
2     5efb2b2b-bf11-4dfd-a572-3761a2694725   Fully Paid           99999999.0
3     e777faab-98ae-45af-9a86-7ce5b33b1011   Fully Paid             347666.0
4     81536ad9-5ccf-4eb8-befb-47a4d608658e   Fully Paid             176220.0
...                                    ...          ...                  ...
9995  1c96581f-1e05-40ca-997a-7bb62b16b6be  Charged Off             143594.0
9996  7bf1820e-7de2-4e5b-a259-57cfa20d070c   Fully Paid             400158.0
9997  7a93d940-5c07-4c5c-9774-62be30aa9e54   Fully Paid             154462.0
9998  ca417f48-23e0-447a-b0e2-13e0c4f42f26   Fully Paid             264484.0
9999  92d31313-6bbc-40c3-be3c-a5d2cd44a1ed   Fully Paid             161304.0

            Term  Credit Score  Annual Income Years in current job  \
0     Short Term         709.0      1167493.0              8 years
1     Short Term           NaN            NaN            10+ years
2     Short Term         741.0      2231892.0              8 years
3      Long Term         721.0       806949.0              3 years
4     Short Term           NaN            NaN              5 years
...          ...           ...            ...                  ...
9995  Short Term         736.0      1024917.0              4 years
9996   Long Term           NaN            NaN             < 1 year
9997  Short Term         751.0       833796.0              9 years
9998  Short Term         733.0      1427565.0              2 years
9999  Short Term         743.0       551456.0              4 years

     Home Ownership             Purpose  Monthly Debt  \
0     Home Mortgage   Home Improvements       5214.74
1     Home Mortgage  Debt Consolidation      33295.98
2          Own Home  Debt Consolidation      29200.53
3          Own Home  Debt Consolidation       8741.90
4              Rent  Debt Consolidation      20639.70
...             ...                 ...           ...
9995  Home Mortgage               other      12982.13
9996           Rent  Debt Consolidation       7084.53
9997  Home Mortgage               other      10630.88
9998           Rent  Debt Consolidation      28313.42
9999       Own Home               Other      15165.23

      Years of Credit History  Months since last delinquent  \
0                        17.2                           NaN
1                        21.1                           8.0
2                        14.9                          29.0
3                        12.0                           NaN
4                         6.1                           NaN
...                       ...                           ...
9995                      8.1                          40.0
9996                     15.5                           NaN
9997                     17.4                           NaN
9998                     10.8                           NaN
9999                     39.4                          17.0

      Number of Open Accounts  Number of Credit Problems  \
0                         6.0                        1.0
1                        35.0                        0.0
2                        18.0                        1.0
3                         9.0                        0.0
4                        15.0                        0.0
...                       ...                        ...
9995                     14.0                        0.0
9996                      3.0                        0.0
9997                      7.0                        0.0
9998                     22.0                        0.0
9999                      7.0                        1.0

      Current Credit Balance  Maximum Open Credit  Bankruptcies  Tax Liens
0                   228190.0             416746.0           1.0        0.0
1                   229976.0             850784.0           0.0        0.0
2                   297996.0             750090.0           0.0        0.0
3                   256329.0             386958.0           0.0        0.0
4                   253460.0             427174.0           0.0        0.0
...                      ...                  ...           ...        ...
9995                235334.0             604186.0           0.0        0.0
9996                332557.0             422202.0           0.0        0.0
9997                 76494.0             517902.0           0.0        0.0
9998                324862.0            1245530.0           0.0        0.0
9999                 11324.0             327668.0           1.0        0.0

[10000 rows x 19 columns]>

In [21]:
cols_to_remove = ['Loan ID','Customer ID']
data = df.drop(cols_to_remove, axis=1)
df

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,084f0ba2-204c-4b43-a131-5a72142e513c,1c96581f-1e05-40ca-997a-7bb62b16b6be,Charged Off,143594.0,Short Term,736.0,1024917.0,4 years,Home Mortgage,other,12982.13,8.1,40.0,14.0,0.0,235334.0,604186.0,0.0,0.0
9996,86c20a91-92d1-4dcd-bf73-9f1392b77519,7bf1820e-7de2-4e5b-a259-57cfa20d070c,Fully Paid,400158.0,Long Term,NaN,NaN,< 1 year,Rent,Debt Consolidation,7084.53,15.5,NaN,3.0,0.0,332557.0,422202.0,0.0,0.0
9997,c062a82a-cf71-425b-a152-f38bdaccc408,7a93d940-5c07-4c5c-9774-62be30aa9e54,Fully Paid,154462.0,Short Term,751.0,833796.0,9 years,Home Mortgage,other,10630.88,17.4,NaN,7.0,0.0,76494.0,517902.0,0.0,0.0
9998,7a36b0f6-1c19-4984-87d7-d4db3e6ea260,ca417f48-23e0-447a-b0e2-13e0c4f42f26,Fully Paid,264484.0,Short Term,733.0,1427565.0,2 years,Rent,Debt Consolidation,28313.42,10.8,NaN,22.0,0.0,324862.0,1245530.0,0.0,0.0
9999,75474c44-14f5-443d-89cf-859ff4cee994,92d31313-6bbc-40c3-be3c-a5d2cd44a1ed,Fully Paid,161304.0,Short Term,743.0,551456.0,4 years,Own Home,Other,15165.23,39.4,17.0,7.0,1.0,11324.0,327668.0,1.0,0.0

In [25]:
#Imputation strategy: Replace Non-existing values with the respective column's average
cols_to_clean =['Current Loan Amount','Credit Score','Annual Income','Years of Credit History',
        'Months since last delinquent','Number of Open Accounts','Number of Credit Problems',
       'Current Credit Balance','Maximum Open Credit','Bankruptcies','Tax Liens']

imputer = Imputer()
data[cols_to_clean] = imputer.fit_transform(data[cols_to_clean])
data[cols_to_clean] = data[cols_to_clean].astype(int)

#Remove rows that still contain at least one NaN value
data=data.dropna()

In [26]:
#Convert our target attribute to numerical values
y = []
for i in data['Loan Status']:
    if i == 'Fully Paid':
        y.append(1)
    else:
        y.append(0)

data = data.drop('Loan Status', axis=1)

In [27]:
# Convert categorical attributes to numerical values

print(data.info())
data = pd.get_dummies(data)
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9570 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Current Loan Amount           9570 non-null   int64
 1   Term                          9570 non-null   object
 2   Credit Score                  9570 non-null   int64
 3   Annual Income                 9570 non-null   int64
 4   Years in current job          9570 non-null   object
 5   Home Ownership                9570 non-null   object
 6   Purpose                       9570 non-null   object
 7   Monthly Debt                  9570 non-null   float64
 8   Years of Credit History       9570 non-null   int64
 9   Months since last delinquent  9570 non-null   int64
 10  Number of Open Accounts       9570 non-null   int64
 11  Number of Credit Problems     9570 non-null   int64
 12  Current Credit Balance        9570 non-null   int64
 13  Maximum Open Credit           9570 non-null   int64
 14  Bankruptcies                  9570 non-null   int64
 15  Tax Liens                     9570 non-null   int64
dtypes: float64(1), int64(11), object(4)
memory usage: 1.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9570 entries, 0 to 9999
Data columns (total 44 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Current Loan Amount             9570 non-null   int64
 1   Credit Score                    9570 non-null   int64
 2   Annual Income                   9570 non-null   int64
 3   Monthly Debt                    9570 non-null   float64
 4   Years of Credit History         9570 non-null   int64
 5   Months since last delinquent    9570 non-null   int64
 6   Number of Open Accounts         9570 non-null   int64
 7   Number of Credit Problems       9570 non-null   int64
 8   Current Credit Balance          9570 non-null   int64
 9   Maximum Open Credit             9570 non-null   int64
 10  Bankruptcies                    9570 non-null   int64
 11  Tax Liens                       9570 non-null   int64
 12  Term_Long Term                  9570 non-null   uint8
 13  Term_Short Term                 9570 non-null   uint8
 14  Years in current job_1 year     9570 non-null   uint8
 15  Years in current job_10+ years  9570 non-null   uint8
 16  Years in current job_2 years    9570 non-null   uint8
 17  Years in current job_3 years    9570 non-null   uint8
 18  Years in current job_4 years    9570 non-null   uint8
 19  Years in current job_5 years    9570 non-null   uint8
 20  Years in current job_6 years    9570 non-null   uint8
 21  Years in current job_7 years    9570 non-null   uint8
 22  Years in current job_8 years    9570 non-null   uint8
 23  Years in current job_9 years    9570 non-null   uint8
 24  Years in current job_< 1 year   9570 non-null   uint8
 25  Home Ownership_HaveMortgage     9570 non-null   uint8
 26  Home Ownership_Home Mortgage    9570 non-null   uint8
 27  Home Ownership_Own Home         9570 non-null   uint8
 28  Home Ownership_Rent             9570 non-null   uint8
 29  Purpose_Business Loan           9570 non-null   uint8
 30  Purpose_Buy House               9570 non-null   uint8
 31  Purpose_Buy a Car               9570 non-null   uint8
 32  Purpose_Debt Consolidation      9570 non-null   uint8
 33  Purpose_Educational Expenses    9570 non-null   uint8
 34  Purpose_Home Improvements       9570 non-null   uint8
 35  Purpose_Medical Bills           9570 non-null   uint8
 36  Purpose_Other                   9570 non-null   uint8
 37  Purpose_Take a Trip             9570 non-null   uint8
 38  Purpose_major_purchase          9570 non-null   uint8
 39  Purpose_moving                  9570 non-null   uint8
 40  Purpose_other                   9570 non-null   uint8
 41  Purpose_small_business          9570 non-null   uint8
 42  Purpose_vacation                9570 non-null   uint8
 43  Purpose_wedding                 9570 non-null   uint8
dtypes: float64(1), int64(11), uint8(32)
memory usage: 1.2 MB
None

In [29]:
# Data Normalization

xMean = np.mean(data, axis=0)
xDev = np.std(data, axis=0)
xNorm = (data - xMean) / xDev

x = data.values #returns numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
xMinMax = pd.DataFrame(x_scaled)
xNoNorm = data

xNorm

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,...,Purpose_Home Improvements,Purpose_Medical Bills,Purpose_Other,Purpose_Take a Trip,Purpose_major_purchase,Purpose_moving,Purpose_other,Purpose_small_business,Purpose_vacation,Purpose_wedding
0,-0.356302,-0.286947,-0.284779,-1.106690,-0.091192,-0.014045,-1.027183,1.767085,-0.191812,-0.048872,...,4.150731,-0.101191,-0.185092,-0.076029,-0.060586,-0.033923,-0.245978,-0.052194,-0.04341,-0.025047
1,-0.362060,0.004907,-0.020275,1.203402,0.500574,-1.794795,4.770070,-0.348377,-0.186720,0.001071,...,-0.240921,-0.101191,-0.185092,-0.076029,-0.060586,-0.033923,-0.245978,-0.052194,-0.04341,-0.025047
2,2.774845,-0.263363,1.083922,0.866492,-0.535016,-0.409767,1.371680,1.767085,0.007187,-0.010516,...,-0.240921,-0.101191,-0.185092,-0.076029,-0.060586,-0.033923,-0.245978,-0.052194,-0.04341,-0.025047
3,-0.359376,-0.278103,-0.748399,-0.816530,-0.830899,-0.014045,-0.427467,-0.348377,-0.111595,-0.052300,...,-0.240921,-0.101191,-0.185092,-0.076029,-0.060586,-0.033923,-0.245978,-0.052194,-0.04341,-0.025047
4,-0.364768,0.004907,-0.020275,0.162238,-1.718547,-0.014045,0.771964,-0.348377,-0.119774,-0.047672,...,-0.240921,-0.101191,-0.185092,-0.076029,-0.060586,-0.033923,-0.245978,-0.052194,-0.04341,-0.025047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,-0.365794,-0.267048,-0.468116,-0.467709,-1.422664,0.315723,0.572059,-0.348377,-0.171446,-0.027304,...,-0.240921,-0.101191,-0.185092,-0.076029,-0.060586,-0.033923,4.065399,-0.052194,-0.04341,-0.025047
9996,-0.357725,0.004907,-0.020275,-0.952873,-0.387075,-0.014045,-1.626899,-0.348377,0.105712,-0.048245,...,-0.240921,-0.101191,-0.185092,-0.076029,-0.060586,-0.033923,-0.245978,-0.052194,-0.04341,-0.025047
9997,-0.365453,-0.255993,-0.713877,-0.661133,-0.091192,-0.014045,-0.827278,-0.348377,-0.624258,-0.037233,...,-0.240921,-0.101191,-0.185092,-0.076029,-0.060586,-0.033923,4.065399,-0.052194,-0.04341,-0.025047
9998,-0.361992,-0.269259,0.049645,0.793514,-1.126782,-0.014045,2.171301,-0.348377,0.083775,0.046492,...,-0.240921,-0.101191,-0.185092,-0.076029,-0.060586,-0.033923,-0.245978,-0.052194,-0.04341,-0.025047
9999,-0.365237,-0.261889,-1.076935,-0.288117,3.163518,-1.201212,-0.827278,1.767085,-0.810041,-0.059122,...,-0.240921,-0.101191,5.402710,-0.076029,-0.060586,-0.033923,-0.245978,-0.052194,-0.04341,-0.025047

In [30]:
data_versions = []
# Define three cases we will study
for x in [xNorm, xMinMax, xNoNorm]:
    version = {}
    version['x_train'], version['x_test'], version['y_train'], version['y_test'] = train_test_split(x, y, test_size= 0.25, random_state=13)
    data_versions.append(version)

In [31]:

# Initialize the classifiers that we will be testing
classifiers = [SGDClassifier(), LogisticRegression(), SVC()]

for i, data_version in enumerate(data_versions):
    print("Evaluating the models with data from the version #{}".format(i+1))
    for j, clf in enumerate(classifiers):
        
        #train model with train data
        clf.fit(X=data_version['x_train'], y=data_version['y_train'])
        
        #predict test data
        predictions = clf.predict(X=data_version['x_test'])
        
        #calculate the accuracy
        accuracy = accuracy_score(data_version['y_test'], predictions)

        print("\t Classifier #{} achieved {} accuracy on test data.".format(j+1, accuracy))

Evaluating the models with data from the version #1
	 Classifier #1 achieved 0.8123694107814459 accuracy on test data.
	 Classifier #2 achieved 0.8119515252820727 accuracy on test data.
	 Classifier #3 achieved 0.8111157542833264 accuracy on test data.
Evaluating the models with data from the version #2
	 Classifier #1 achieved 0.8140409527789386 accuracy on test data.
	 Classifier #2 achieved 0.8136230672795653 accuracy on test data.
	 Classifier #3 achieved 0.8140409527789386 accuracy on test data.
Evaluating the models with data from the version #3
	 Classifier #1 achieved 0.6761387379857919 accuracy on test data.
	 Classifier #2 achieved 0.8069368992895947 accuracy on test data.
	 Classifier #3 achieved 0.7718345173422482 accuracy on test data.

In [32]:
# Implement Cross Validation using Logistic Regression classifier
# Using xMinMax dataframe

clf = LogisticRegression()

# 5 fold cross validation
scores = cross_val_score(clf, xMinMax, y, verbose=1, cv=5)
print(scores)
print("Accuracy: %0.3f (+/- %0.3f)" % (scores.mean(), scores.std() * 2))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[0.81713689 0.81818182 0.82445141 0.81922675 0.82183908]
Accuracy: 0.820 (+/- 0.005)

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    1.2s finished